{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="center-block" style="width:100px">
                        {% load staticfiles %}<img style="margin-top:75px;"src="{% static 'login/images/polls_logo.png' %}"/>
                    </div>
                    <br/>
                    <div class="center-block" style="width:210px">
                    <center>
                        <p class="auth_head">
                            Create an account
                        </p>
                    </center>
                        <br/>
                    </div>
                    <div class="center-block" style="width:350px">
                        <form method="post" action=".">
                        {% csrf_token %}
                            <input id="id_username" name="username" required="True" type="text" placeholder="username"/>
                            <input id="id_email" name="email" required="True" type="text" placeholder="e-mail"/>
                            <input id="id_password1" name="password1" required="True" type="password" placeholder="password"/>
                            <input id="id_password1" name="password2" required="True" type="password" placeholder="confirm password"/>
                            <input type="submit" value="Register"/>
                        </form>
                        <center>  <p class="or_text"> OR </p>  </center>
                        <a href="/"><input value="Sign in to your account" type="button"/>
                        <a href="{% url 'password_change' %}">Change Password</a>
                    </div>
                </div>
            </div>
    
{% endblock %}
