{% extends "base.html" %}
{% block title %}User Registration{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-3" style="background-color:#339999;">
            </div>
            <div class="col-lg-6" style="background-color:#339999;">
                <div class="row">
                    <div class="center-block" style="width:100px">
                        {% load staticfiles %}<img src="{% static 'login/images/polls_logo.png' %}"/>
                    </div>
                    <br/>
                    <div class="center-block" style="width:210px">
                        <p style="font-family:sans-serif; font-size:24px; font-weight:800;">
                            Update password
                        </p>
                        <br/>
                    </div>
                    <div class="center-block" style="width:350px">
                        <form method="post" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                            <input id="id_username" name="username" required="True" type="text" placeholder="Username"/>
                            <input id="id_password_old" name="old_password" required="True" type="password" placeholder="Old password"/>
                            <input id="id_password_new" name="new_password1" required="True" type="password" placeholder="New password"/>
                            <input id="id_conf_pass" name="new_password2" required="True" type="password" placeholder="Confirm password"/>
                            <input type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
    
{% endblock %}
