body
 {
     background-color:#339999;
 } 
input[type="text"]
 {
     width:350px; height:35px; border:none; border-radius:3px; text-align:center; font-color:#333; font-family:sans-serif; font-size:20px; margin-top:5px;
 }
input[type="password"]
 {
     width:350px; height:35px; border:none; border-radius:3px; text-align:center; font-color:#333; font-family:sans-serif; font-size:20px;margin-top:5px;
 }
input[type="submit"]
 {
     height:45px; width: 350px;border-radius:3px; color:#fff; background-color:#333; margin-top: 10px; border:none; border-radius:3px
 }
input[type="button"]
 {
     height:45px; width: 350px;border-radius:3px; color:#fff; background-color:#333; margin-top: 10px; border:none; border-radius:3px
 }
img
 {
     margin-top: 100px;
 }
.auth_head
 {
     font-family:sans-serif; font-size:24px; font-weight:800;
 }
.or_text
 {
    font-weight:800; margin-top: 20px;
 }
.error_text
 {
    font-family:sans-serif; color: #333;
 }
.welcome
 {
    color:#333; font-family:sans-serif; font-size:28px;
 }
.user_name
 {
    color:#fff; font-family:sans-serif; font-size:36px;
 }
.home_body
 {
    background-color:#fff; 
    border:none;
    border-radius:5px;
 } 
.app_redirect
 {
    color:#333; font-family:sans-serif; font-size:36px; margin-bottom:50px; margin-top:30px;
 }
